header {
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
    color: rgb(255, 0, 140);
}

body {
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

#timer{
    color: black
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 9rem;
}

button {
    background-color: purple;
    color: white;
    width: 10rem;
    height: 2rem;
    border: 0rem;
    border-radius: 5px;
}

button:hover {
    background-color: rgb(74, 8, 131);
    cursor: pointer;
}
