header {
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
    color: rgb(255, 0, 140);
}

body {
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

#timer{
    color: black
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    width: 50% ;
    padding-top: 3%;
    padding-left: 25%;
    padding-right: 25%;

}

main #answers {
    display: flex;
    justify-content: flex-start;
    align-items: start;
}


button {
    background-color: purple;
    color: white;
    width: 10rem;
    height: 2rem;
    border: 0rem;
    border-radius: 15px;
    font-weight: bold;
}

button:hover {
    background-color: rgb(74, 8, 131);
    cursor: pointer;
}


#quiz {
    display: flex;
    flex-direction: column;
}

#answers {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    font-size: 5rem;
}

#answers button{
    margin: 0.5rem;
}

.answers-button {
    padding-left: 1.3rem;
    font-size: 2rem;
}

#question {
    font-size: 50px;
}

.container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-self: flex-start;
}